[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "matchedcc"]
	path = matchedcc
	url = https://github.com/simpar1471/matchedcc
[submodule "openFDA"]
	path = openFDA
	url = https://github.com/simpar1471/openfda
